* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    header {
    width: 100%;
    background: #703f07;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: 2px;
    transition: 0.6s;
    
    }
    
    nav.container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    }
    
    
    .logo {
    padding: 22.195px 0px;
    }
    
    .logo img {
    max-width: 100%;
    height: auto;
    }
    
    .menu {
    display: flex;
    list-style: none;
    }
    
    .menu li {
    position: relative;
    }
    
    .menu li a {
    color: #f8f8f8;
    display: block;
    padding: 37px 20px;
    text-decoration: none;
    font-size: 18px;
    }
    
    .menu ul.sub-menu {
    position: absolute;
    background-color: #7d7164;
    list-style: none;
    width: 200px;
    border: 1px solid #333;
    box-shadow: 1px 1px 1px;
    display: none;
    }
    
    .menu li:hover>a{
    color: #f0c76e; 
    }
    
    .menu li:hover ul.sub-menu{
    display: block;
    }
    
    .menu ul.sub-menu a {
    padding: 15px 20px;
    border-bottom: 1px solid #333;
    }
    
    .menu ul.sub-menu li:hover a{
    background-color: #c6bcb1;
    }
    
    .menu ul.sub-menu li:last-child a{
    border: none;
    }
    
    .menu>li>a{
    position: relative;
    }
    
    .menu>li>a::before {
    content: "";
    height: 4px;
    width: 0px;
    background-color: #f0c76e;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1)
    }
    
    .menu>li:hover>a::before{
    width: 100%;
    }
    
    .other {
    display: flex;
    list-style: none;
    
    }
    
    .other li{
    color: #f8f8f8;
    display: block;
    text-decoration: none; 
    font-size: 30px;
    padding: 0px 10px;
    }
    .other li i {
    padding-top: 6px;
    }
    
    .other li:hover i {
    color: #f0c76e;
    }
    
    li.search-container {
    padding-top: 6px;
    }
    
    #search-box {
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    }
    
    #search-text {
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    padding: 0px 3px 5px 5px;
    width: 0;
    transition: 0.5s ;
    
    }
    #search-box:hover, #search-box:valid {
    background: #f0c76e;
    }
    #search-box:hover #search-text, #search-text:valid{
    width: 200px;
    background: none;
    }
    
    #search-btn {
    border: none;
    background: none;
    }
    
    #search-btn i {
    font-size: 30px;
    padding: 0px 2px;
    color: white;
    }
    #li_acount{
        position: relative;
    }
    #li_acount>ul{
        position: absolute;
        background-color: #7d7164;
        list-style: none;
        width: 200px;
        border: 1px solid #333;
        box-shadow: 1px 1px 1px;
        left: -77px;
        top: 69px;
        display: none;
    }
    #li_acount>ul::after{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #7d7164;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: auto;      
    }
    #li_acount>ul>li{
     padding: 0;
    }
    #li_acount>ul>li>a{
        font-size: 18px;
        display: block;
        padding: 15px 20px;
        border-bottom: 1px solid #333;
        text-align: center;
        
    }
    #a_signin{
        border-bottom: none;
    }
    #li_acount>ul>li:hover>a{
        color: #f0c76e; 
        background-color: #c6bcb1;
    }
    /* -------------------------title------------------------------- */
    .breadcrumb{
        width: 100%;
        height: 250px;
        background-color: rgb(0, 0, 0);
        margin-top: 96.38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_content{
        width: 1100px;
        height: 90.6px;
      
        margin: 0 209.6px;
        text-align: center;
    }
    .container_content>p{
        font-size: 2em;
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        display: block;
        text-align: center;
        color: white;
    }
    .container_content>a, .container_content>span{
        text-decoration: none;
       
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        display: inline-block;
        font-size: 17px;
        color: white;
    }
    /* Form sign up */
    .container_user{
        width: 1070px;
        height: 490px;
       margin: 80px auto;
     
       }
       .container_user>#AccountForm{
        height: 100%;
        width: 670px;
        background-color: #f7f7f7;
        margin: 0 auto;
        padding: 30px 30px;
       
       }
       .container_user>#AccountForm>input[type=email], .container_user>#AccountForm>input[type=text]
       ,.container_user>#AccountForm>input[type=password]{
         display: block;
         width: 100%;
         height: 54px;
         padding: 10px 20px;
         border: 0.3px solid #b29c83;
         transition: all 0.3s linear;
         outline: none;
         font-size: 17px;
         
       }
       .container_user>#AccountForm>input[type=text], .container_user>#AccountForm>input[type=password]{
        margin-top: 40px;,
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out
       }
    
       .container_user>#AccountForm>input[type=email]:focus, .container_user>#AccountForm>input[type=text]:focus,
       .container_user>#AccountForm>input[type=password]:focus{
        border: 1px solid #703f07;
       }
       .container_user>#AccountForm>p>input,.container_user>#AccountForm>p>a {
        width: 157px;
        height: 64px;
        cursor: pointer;
        background-color: #703f07;
        font-size: 18px;
        font-weight: 600;
        color: white;
        border: none;
        transition: .4s;
        display: inline-block;
       }
       .container_user>#AccountForm>p>a {
        float: right;
        text-align: center;
        line-height: 64px;
        text-decoration: none;
       }
       .container_user>#AccountForm>p>input:hover, .container_user>#AccountForm>p>a>input:hover{
        background-color: #d29d60;
       }
      
       .container_user>#AccountForm>p{
        margin-top: 30px;
      
       }
      
       .link_swapper{
        margin-top: 20px;
        width: 100%;
        height: 74px;
        /* background-color: #7d7164; */
        padding-top: 30px;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        align-items: center;
       }
       .link_swapper>a{
        display: inline-block;
        padding: 0 15px;
        text-decoration: none;
        color: #703f07;
        font-weight: 400;
        
       }
    /* --------------------------------Footer------------------------------------ */
   
footer {
    position: relative;
    top: 30px;
    width: 100%;
    background-color: #703f07;
    color: #eee;
}

.footer-top {
    width: 1450px;
    margin: auto;  
    margin-top: 100px;
    padding-bottom: 50px; 
    display: flex;
    justify-content: space-between;
}

.footer-text-start {
    padding: 50px 0px;
    font-weight: bold;
}

.footer-text-start img {
    padding-bottom: 50px;
}

.footer-text-start h5 {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: #f0c76e;
    padding-bottom: 50px;
}

.footer-top-flex {
    display: flex;
    padding: 10px 0px;
}

.footer-top-flex i {
    padding-right: 10px;
}

.footer-top-hover a:hover{
    color: #f0c76e;
}

.footer-top-hover li {
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: #eee;
}

li {
    list-style: none;
}

.footer-bottom {
    width: 100%;
    background-color: #613400;
}

.footer-bottom-copyright {
    width: 1450px;
    margin: auto;
    font-size: 18px;
    padding: 15px 0px;
}

